
.App-logo {
  height: 15vmin;
  pointer-events: none;
  margin-top: 15px;
  margin-left: 15px;
  
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
.Floor{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.App-header {
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-top: 0;

}

.App-link {
  color: #61dafb;

}

.title{
  margin: 0;
  background-color: rgb(211, 124, 143);
  padding: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

children{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-evenly;
  font-size: calc(10px + 2vmin);
}

button{
  background-color: #61dafb;
  padding: 15px;
  /* margin: 5px; */
  width: 200px;
  border-radius: 20px;
  border: 0px transparent;
  text-align: center;
  color: rgb(18, 5, 206);
  cursor:pointer;
  font-weight: bolder;
  
}

button:hover{
  color: red;
}

table,th,td{
  border: 2px solid blueviolet;
  border-collapse: collapse;
  width: 330px;
  padding: 5px;
  
}
th, td{
  text-align: center;
  font-weight: bolder;
  font-size: medium;
  width: 330px;
}

.Full{
  background-image: url("./pic/1.jpg");
  opacity: 0.7;
  background-size: cover;
  height: 100vh;
}

.Nav{
  display: flex;
  flex-direction: row;
  font-weight: bolder;
  align-items: center;
  font-size:30px;
}
.Bipard{
  color: brown;
  margin-left: 25px;
}
.DataView{
  margin:0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  vertical-align: top;
}

.ganga{
  background-color: rgb(133, 221, 224);
  width: max-content;
  margin-left: 40px;
  color: rgb(18, 2, 241);
  padding: 10px;
  border-radius: 20px;
}

footer{
  text-align: center;
  margin-top: 90px;
  color: rgb(255, 255, 255);
  background-color: rgb(175, 41, 16);
  height: 35px;
  padding-top: 10px;

}